body{
    margin: 0;
    color: #232323;

}

a{
    text-decoration: none;
}
ul{
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    height: inherit;
}

header{
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
}

header .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li:not(:last-child) {
margin-right: 24px;
}

nav a{
    font-size: 17px;
    font-weight: 600;
    color: #232323;

}

.main-banner{
background: url(../images/banner.jpg) center no-repeat;
height: 480px;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}

.main-banner h1{
    font-weight: bold;
    font-size: 48px;
    max-width: 920px;
    text-align: center;
}

.section1{
    max-width: 920px;
    padding: 58px 14px;
    display: flex;
    color:#232323;
    font-family: 'Roboto', sans-serif;
    
}

.section1 h2{
    font-weight: 600;
    font-size: 24px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    margin: 60;

}
.section1 p{
    width: 440px;
    height: 250px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    justify-content: left;
}

.section1-content{
    width: 420px;
    height: 264px;
    margin: 58px 0px 500px 0px;
}

.section2{
    background: url(/images/Rectangle6.jpg) right no-repeat;
    max-width: 920px;
    padding: 140px 90px;
    margin: 0 auto;
}
.section2 h3{
    font-weight: 700;
    font-size: 18px;
    color:#E7A646;
    text-align: center;
}

.section2 p{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3{
    display: flex;
    text-align: right;

}
.section3 h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 440px;
    height: 250px;
}

.section3 p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 260 740;

}
.footer{
    background-color: #4D4C4A;

}